<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">sub_id</th>
            <th scope="col">tematica</th>
            <th scope="col">carpeta</th>
            <th scope="col">nombre</th>
            <th scope="col">año</th>
            <th scope="col">utlima modificacion</th>
            <th scope="col">tipo</th>
            <th scope="col">fuente</th>
            <th scope="col">escala</th>
            <th scope="col">unidad espacial</th>
            <th scope="col">formato</th>
            <th scope="col">descripcion</th>
            <th scope="col">palabras clave</th>
            <th scope="col">ruta relativa</th>
            <th scope="col">observaciones</th>
          </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
            </tr>
            {% endfor %}






            
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</body>
</html>